body{
    background-color: #ca5310;
}

#myDIV{
    background-color: #fbba72;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #bb4d00 20px 20px 40px;
    text-shadow: #bb4d00 8px 8px 27px;
    text-align: center;
    color: #bb4d00;
    font-size: 27px;
}

#header{
    text-shadow: #bb4d00 8px 8px 27px;
}

input{
    margin: 0;
    border-style: double;
    border-color: #691e06;
    border-radius: 3px;
    width: 300px;
    padding: 10px;
    box-shadow: #bb4d00 8px 8px 50px;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: #fbba72;
    color: #bb4d00;
    text-align: center;
    box-shadow: #bb4d00 10px 10px 60px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background-color: #bb4d00;
    color: #fbba72;
}

ul{
    margin: 0;
    padding: 0;
    padding-top: 20px;
    box-shadow: #bb4d00 20px 20px 20px;
}

ul li{
    cursor: pointer;
    background-color: #fbba72;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    border-style: solid;
    border-color: #fbba72;
    transition: 0.25s;
    color: #bb4d00;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

ul li:hover{
    background-color: #bb4d00;
    color: #fbba72;
}